* {
	margin:  0px;
	padding:  0px;
	box-sizing: border-box;
}

/* adjusting fonts */

body {
	font-family: 'Noto Sans KR', sans-serif;
	transition: background 500ms ease;
}

p, li {
	font-size:  15px;
	line-height: 28px;
	margin-right: 10px;
}

/* adjusting spacing */

/* .section::before {
	content: "";
	position: fixed;
	height: 100%;
	width: 10%;
	background: linear-gradient(to right, white, transparent);
}

.section::after {
	content: "";
	position: fixed;
	top: 0px;
	right: 0px;
	height: 100%;
	width: 10%;
	background: linear-gradient(to left, white, transparent);
} */

.grad-left-black {
	position: fixed;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 10%;
	background: linear-gradient(to left, black, transparent);
	opacity: 100;
	transition: 500ms ease;
}

.grad-left-white {
	position: fixed;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 10%;
	background: linear-gradient(to left, transparent, white);
	opacity: 0;
	transition: 500ms ease;
}

.grad-left-black {
	position: fixed;
	top: 0px;
	right: 0px;
	height: 100%;
	width: 10%;
	background: linear-gradient(to left, transparent, black);
	opacity: 100;
	transition: 500ms ease;
}

.grad-right-white {
	position: fixed;
	top: 0px;
	right: 0px;
	height: 100%;
	width: 10%;
	background: linear-gradient(to left, white, transparent);
	opacity: 0;
	transition: 500ms ease;
}

.grad-right-black {
	position: fixed;
	top: 0px;
	right: 0px;
	height: 100%;
	width: 10%;
	background: linear-gradient(to left, black, transparent);
	opacity: 100;
	transition: 500ms ease;
}

.container {
	max-width: 768px;
	margin: 0 auto;
}

.language {
	height: 80px;
	display: flex;
	align-items: center;
	
}

.kor-intro {
	position: relative;
}

.eng-intro {
	display: none;
	font-family: 'Lexend', sans-serif;
}

h1, p {
	margin-bottom:  20px;
}

ul {
	display: flex;
}

img {
	max-width: 80%;
	height:  auto;
	position: absolute;
	top: -700px;
	transition: all 0.5s ease 0s;
}