* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* adjusting fonts */

body {
  font-family: 'Eulyoo1945', serif;
  font-weight: 400;
  letter-spacing: -0.3px;
  transition: background 500ms ease;
}

p,
li {
  font-size: 15px;
  line-height: 28px;
  margin-right: 10px;
}

a {
  font-family: 'Hahmlet', serif;
  font-weight: 700;
  text-decoration: none;
  color: black;
  font-size: 15px;
}

/* adjusting spacing */

/* .section::before {
	content: "";
	position: fixed;
	height: 100%;
	width: 10%;
	background: linear-gradient(to right, white, transparent);
}

.section::after {
	content: "";
	position: fixed;
	top: 0px;
	right: 0px;
	height: 100%;
	width: 10%;
	background: linear-gradient(to left, white, transparent);
} */

.kor:hover,
.eng:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

.grad-left-black {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 10%;
  background: linear-gradient(to left, black, transparent);
  opacity: 100;
  transition: 500ms ease;
}

.grad-left-white {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 10%;
  background: linear-gradient(to left, transparent, white);
  opacity: 0;
  transition: 500ms ease;
}

.grad-left-black {
  position: fixed;
  top: 0px;
  right: 0px;
  height: 100%;
  width: 10%;
  background: linear-gradient(to left, transparent, black);
  opacity: 100;
  transition: 500ms ease;
}

.grad-right-white {
  position: fixed;
  bottom: 0px;
  right: 0px;
  height: 100%;
  width: 10%;
  background: linear-gradient(to left, white, transparent);
  opacity: 0;
  transition: 500ms ease;
}

.grad-right-black {
  position: fixed;
  bottom: 0px;
  right: 0px;
  height: 100%;
  width: 10%;
  background: linear-gradient(to left, black, transparent);
  opacity: 100;
  transition: 500ms ease;
}

.container {
  max-width: 768px;
  margin: 0 auto;
}

.language {
  padding-top: 64px;
  padding-bottom: 40px;
  display: flex;
  align-items: center;
}

.kor-intro,
.eng-intro {
  position: relative;
}

.eng-intro {
  display: none;
  font-family: 'Garamond', serif;
  font-size: 16px;
  letter-spacing: 0.2px;
  word-spacing: -1px;
}

.eng-intro a {
  word-spacing: 0px;
}

h1,
p {
  margin-bottom: 20px;
}

ul {
  display: flex;
}

/* 이미지 */

.elephant {
  max-width: 80%;
  height: auto;
  position: absolute;
  top: -9999px;
  transition: all 0.5s ease 0s;
}

.workers {
  max-height: 80%;
  position: fixed;
  bottom: -9999px;
  transition: all 0.5s ease 0s;
}

.sheti {
  max-height: 60%;
  position: absolute;
  top: 200px;
  left: -9999px;
  transition: all 0.5s ease 0s;
}

.weekly {
  height: 90%;
  position: absolute;
  left: -9999px;
  /* transform: rotate(30deg); */
  transition: all 0.5s ease 0s;
}

.microworld {
  max-height: 80%;
  position: absolute;
  top: -9999px;
  transition: all 0.5s ease 0s;
}

/* 브레이크 포인트 만들기 */

@media only screen and (max-device-width: 767px) {
  .grad-left-black {
    top: 0px;
    left: 0px;
    height: 10%;
    width: 100%;
    background: linear-gradient(to bottom, black, transparent);
    opacity: 100;
    transition: 500ms ease;
  }

  .grad-left-white {
    top: 0px;
    left: 0px;
    height: 10%;
    width: 100%;
    background: linear-gradient(to bottom, white, transparent);
    opacity: 0;
    transition: 500ms ease;
  }

  /* .grad-left-black {
    position: fixed;
    bottom: 0;
    height: 10%;
    width: 100%;
    background: linear-gradient(to left, transparent, black);
    opacity: 100;
    transition: 500ms ease;
  } */

  .grad-right-white {
    position: fixed;
    bottom: 0;
    height: 10%;
    width: 100%;
    background: linear-gradient(to top, white, transparent);
    opacity: 0;
    transition: 500ms ease;
  }

  .grad-right-black {
    position: fixed;
    bottom: 0;
    height: 10%;
    width: 100%;
    background: linear-gradient(to top, black, transparent);
    opacity: 100;
  }

  .container {
    max-width: 320px;
    margin: 0 auto;
  }

  .weekly,
  .workers,
  .microworld,
  .elephant,
  .sheti {
    display: none;
  }
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
